[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psutil = "*"
pyzabbix = "*"
django = "*"
channels = "*"
djangorestframework = "*"
drf-yasg = "*"
django-cors-headers = "*"
asgiref = "*"
zabbix-api = "*"

[dev-packages]

[requires]
python_version = "3.10"
